body {
  /* background: blue; */
}

img {
  max-height: 500px;
  padding: 1rem 0;
}

h2 {
  margin-top: 3.6rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.notion-content p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.notion-content form {
  padding: 0;
}
